<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <br>
        <div class="alert alert-primary text-center" role="alert">
            <h1>Python Flask Register/Login Application</h1>
        </div>
    </div>

        <div class="row">
            <div class="col-sm"></div>

            <div class="col-sm">

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="btn-close" style="float:right;" data-dismiss="alert" aria-label="Close"></button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div>
                    <form action="{{url_for('login')}}" method="POST">
                        <div class="mb-3">
                            <label class="fw-bold">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <div id="emailHelp" class="form-text">example: happy@example.com</div>
                        </div>
                        <div class="mb-3">
                            <label class="fw-bold">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Login</button>
                    </form>
                    <p>don't have an account, <button class="btn btn-link btn-sm" data-toggle="modal" data-target="#regisModal">Register Now</button></p>
                </div>
            </div>

            <div class="col-sm"> </div>

            <div id="regisModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Register</h4>
                            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('regis')}}" method="POST">
                                <div class="mb-3">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control" id="name" required>
                                </div>
                                <div class="mb-3">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" id="email" required>
                                    <div id="emailHelp" class="form-text">example abc@abc</div>
                                </div>
                                <div class="mb-3">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" id="password" required>
                                </div>
                                <div class="mb-3">
                                    <label>Confirm Password</label>
                                    <input type="password" name="cpassword" class="form-control" id="cpassword" required>
                                    <div id="emailHelp" class="form-text">enter password again</div>
                                </div>
                                <br>
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
</body>
</html>